*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header h2{
    font-size: 34px;
}

.food{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.food .check{
    margin-top: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.drinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
}

.drinks legend{
    margin-bottom: 8px;
}

.drinks .alcolica{
    display: flex;
    flex-direction: column;
}

.drinks .alcolica label{
    margin-bottom: 3px;
}

.drinks .nao-alcoolicas{
    display: flex;
    flex-direction: column;
}

.drinks .nao-alcoolicas label{
    margin-top: 8px;
    margin-bottom: 3px;
}

#botaoCalcular{
    width: 150px;
    margin-top: 20px;
    padding: 8px;
    border-radius: 4px;
    background-color: forestgreen;
    color: white;
    font-size: 20px;
}

.resultado{
    display: flex;
    align-items: center;
    justify-content: center;
}

.total{
    margin-top: 10px;
    background-color: whitesmoke;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 0;
}

@media(min-width: 720px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header{
        display: flex;
        align-items: center;
    }

    .food{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .food .check{
        margin-top: 3px;
    
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }

    .total{
        margin-top: 10px;
        background-color: whitesmoke;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* justify-content: space-between; */
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 0;
    }
}